<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="timeExecute" value="30"/>
    <!--<add key="endConsultaLote" value="http://sadsams-dev-app01.br.wal-mart.com:8080/fep/v1/consultarLote/{0}"/>
    <add key="endCosultaDetalheLote" value="http://sadsams-dev-app01.br.wal-mart.com:8080/fep/v1/consultarLote/detalhe/{0}"/>-->
    <add key="endConsultaLote" value="http://sadsams-uat-app01.br.wal-mart.com:8080/fep/v1/consultarLote/{0}"/>
    <add key="endCosultaDetalheLote" value="http://sadsams-uat-app01.br.wal-mart.com:8080/fep/v1/consultarLote/detalhe/{0}"/>
    
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=LBRNT575515BRA.br.wal-mart.com;Initial Catalog=SAMS_UAT;Persist Security Info=False;User ID=usrTransSams;Password=usrTransSamspwd" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
