<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apcm.PesquisaLote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Apcm.PesquisaLote.Properties.Settings.DataContext"
            connectionString="Data Source=LBRNT575515BRA.br.wal-mart.com;Initial Catalog=SAMS_DEV;Persist Security Info=True;User ID=usrTransSams;Password=usrTransSamspwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Apcm.PesquisaLote.Properties.Settings>
            <setting name="EsperaEntreExecucoes" serializeAs="String">
                <value>00:00:15</value>
            </setting>
          <setting name="SadConsultaLote" serializeAs="String">
            <value>consultarLote/{0}</value>
          </setting>
          <setting name="SadConsultaDetalhe" serializeAs="String">
            <value>consultarLote/detalhe/{0}</value>
          </setting>
          <setting name="SadBaseUrlAtacado" serializeAs="String">
            <value>http://sadsams-uat-app01.br.wal-mart.com:8080/fep/v1/</value>
          </setting>
          <setting name="SadBaseUrlVarejo" serializeAs="String">
            <value>http://sad-uat-app01.br.wal-mart.com:8080/fep/v1/</value>
          </setting>
          <setting name="SadDessincSadReport" serializeAs="String">
            <value>incluirSolicitacao/DESINCRCDM</value>
          </setting>
        </Apcm.PesquisaLote.Properties.Settings>
    </applicationSettings>
</configuration>