<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Apcm.TSamsF1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Apcm.TSamsF1.Properties.Settings.SqlContext" connectionString="Data Source=PBRNT18500BR.br.wal-mart.com;Initial Catalog=SAMS;Persist Security Info=False;User ID=bif_etl;Password=bif_etl#2019"
        providerName="System.Data.SqlClient" />
    <!--<add name="Apcm.TSamsF1.Properties.Settings.Db2Context" connectionString="Dsn=DSN5;uid=dailydb2;pwd=xqkrdfa3;mode=SHARE;dbalias=DSN5;disableunicode=1;cursorhold=1;disablekeysetcursor=1"
        providerName="System.Data.Odbc" />-->
    <add name="Apcm.TSamsF1.Properties.Settings.Db2Context" connectionString="Dsn=DSN5;uid=DB2INTBR;pwd=VNA9NPBS;mode=SHARE;dbalias=DSN5;disableunicode=1;cursorhold=1;disablekeysetcursor=1"
            providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Apcm.TSamsF1.Properties.Settings>
      <setting name="TamanhoPacote" serializeAs="String">
        <value>500000</value>
      </setting>
    </Apcm.TSamsF1.Properties.Settings>
  </userSettings>
</configuration>